<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @minutum.fecha %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @minutum.inicio %>
</p>

<p>
  <strong>Final:</strong>
  <%= @minutum.final %>
</p>

<p>
  <strong>Fw:</strong>
  <%= @minutum.fw %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @minutum.nombre %>
</p>

<p>
  <strong>Fechaproximareunion:</strong>
  <%= @minutum.fechaProximaReunion %>
</p>

<p>
  <strong>Organizador:</strong>
  <%= @minutum.organizador %>
</p>

<p>
  <strong>Secretario:</strong>
  <%= @minutum.secretario %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @minutum.userId %>
</p>

<p>
  <strong>Token:</strong>
  <%= @minutum.token %>
</p>

<%= link_to 'Edit', edit_minutum_path(@minutum) %> |
<%= link_to 'Back', minuta_path %>
