<p id="notice"><%= notice %></p>

<h1>Participantes Minuta</h1>

<table>
  <thead>
    <tr>
      <th>Minutatoken</th>
      <th>Nombre</th>
      <th>Puesto</th>
      <th>Asistencia</th>
      <th>Userid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participantes_minuta.each do |participantes_minutum| %>
      <tr>
        <td><%= participantes_minutum.minutaToken %></td>
        <td><%= participantes_minutum.nombre %></td>
        <td><%= participantes_minutum.puesto %></td>
        <td><%= participantes_minutum.asistencia %></td>
        <td><%= participantes_minutum.userid %></td>
        <td><%= link_to 'Show', participantes_minutum %></td>
        <td><%= link_to 'Edit', edit_participantes_minutum_path(participantes_minutum) %></td>
        <td><%= link_to 'Destroy', participantes_minutum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participantes Minutum', new_participantes_minutum_path %>
